{% if outcome.verification %}

{% if outcome.verification.matchConclusions.verifyStatus[index]|string == "VerifyStatus.ROBUST" %}
<td style="background-color:rgb(255, 105, 105)">No influence, OR signature or false positive</td>
{% elif outcome.verification.matchConclusions.verifyStatus[index]|string == "VerifyStatus.IRRELEVANT" %}
<td style="background-color:rgb(157, 143, 143)">Unsure, check the verifier</td>
{% elif outcome.verification.matchConclusions.verifyStatus[index]|string == "VerifyStatus.DOMINANT" %}
<td style="background-color:rgb(63, 179, 63)">Modify just this match to make it undetected</td>
{% else %}
<td></td>
{% endif %}

{% endif %}