
{% if outcome.isVerified and verifications != None %}
    {% for verifyStatus in outcome.verification.matchConclusions.verifyStatus %}
        {% if verifyStatus|string == "VerifyStatus.IRRELEVANT" %}
        <td style="background-color:rgb(157, 143, 143)">
        {% elif verifyStatus|string == "VerifyStatus.DOMINANT" %}
        <td style="background-color:rgb(63, 179, 63)">
        {% elif verifyStatus|string == "VerifyStatus.ROBUST" %}
        <td style="background-color:rgb(255, 105, 105)">
        {% else %}
        <td>
        {% endif %}

        <!-- Check assumption about data -->
        {% if 'EXE PE32' in outcome.fileInfo.ident or 'EXE PE64' in outcome.fileInfo.ident %}
            {% if '.text' in outcome.matches[loop.index0].sectionInfo %}
            c
            {% elif '.data' in outcome.matches[loop.index0].sectionInfo %}
            d
            {% else %}
            &nbsp;
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}
        </td>
    {% endfor %}
{% endif %}