
{% if outcome.isVerified and verifications != None %}
    {% for verifyStatus in outcome.verification.matchConclusions.verifyStatus %}
        {% if verifyStatus|string == "VerifyStatus.BAD" %}
        <td style="background-color:red">
        {% elif verifyStatus|string == "VerifyStatus.OK" %}
        <td style="background-color:orange">
        {% elif verifyStatus|string == "VerifyStatus.GOOD" %}
        <td style="background-color:green">
        {% else %}
        <td>
        {% endif %}

        <!-- Check assumption about data -->
        {% if 'EXE PE32' in outcome.fileInfo.ident or 'EXE PE64' in outcome.fileInfo.ident %}
            {% if '.text' in outcome.matches[loop.index0].sectionInfo %}
            c
            {% elif '.data' in outcome.matches[loop.index0].sectionInfo %}
            d
            {% else %}
            &nbsp;
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}
        </td>
    {% endfor %}
{% endif %}