<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
  </head>
  <body>
      {% include 'includes/navigation.html' %}

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" 
                  type="button" role="tab" aria-controls="home" aria-selected="true">Matches</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" 
                  type="button" role="tab" aria-controls="profile" aria-selected="false">Verifier</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" 
                  type="button" role="tab" aria-controls="contact" aria-selected="false">Log</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          {% include 'file_matches.html' %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          {% if verifications != None %}
            {% include 'file_verifier.html' %}
          {% endif %}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          {% if logData != None %}
            {% include 'file_log.html' %}
          {% endif %}
        </div>
      </div>

      {% include 'file_matches_css.html' %}

  </body>
</html>
