<div class="row">
    <aside class="col-md-2">
        <ul class="nav nav-pills flex-column nav-fill" id="matchTab" role="tablist">
            {% for match in outcome.matches %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#title{{match.idx}}">{{match.idx}}: {{match.fileOffset|prettynumber}}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="col-md-10">
        <div class="tab-content" id="matchTabContent">
            <div class="tab-pane fade show active " id="match-all" role="tabpanel" aria-labelledby="match-tab-all">
                {% for match in outcome.matches %}
                    <h2 id="title{{match.idx}}">Match {{match.idx}}: {{match.fileOffset}} (size: {{match.size}}) </h2>


                    <div class="accordion" id="info">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{match.idx}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#info{{match.idx}}" 
                                    aria-expanded="true" aria-controls="info{{match.idx}}">
                                Info
                            </button>
                            </h2>
                            <div id="info{{match.idx}}" class="accordion-collapse collapse show" aria-labelledby="heading{{match.idx}}">
                            <div class="accordion-body">
                                <table><tr>
                                {% with index = loop.index0 %}
                                {% include 'includes/file_conclusion.html' %}
                                {% endwith %}
                                </tr></table>
                                <br>
                                Section: {{match.sectionInfo}}<br>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion" id="hexdumps">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{match.idx}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#hexdump{{match.idx}}" 
                                    aria-expanded="true" aria-controls="hexdump{{match.idx}}">
                                Hexdump
                            </button>
                            </h2>
                            <div id="hexdump{{match.idx}}" class="accordion-collapse collapse show" aria-labelledby="heading{{match.idx}}">
                            <div class="accordion-body">
                                <pre>{{match.dataHexdump}}</pre>
                            </div>
                            </div>
                        </div>
                    </div>

                    {% if match.disasmLines|length > 0 %}
                    <div class="accordion" id="disassembly">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{match.idx}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#disas{{match.idx}}" 
                                    aria-expanded="false" aria-controls="disas{{match.idx}}">
                                <b>Disassembly</b>
                            </button>
                            </h2>
                            <div id="disas{{match.idx}}" class="accordion-collapse collapse" aria-labelledby="heading{{match.idx}}">
                            <div class="accordion-body">
                                <div class="mycode">
                                    {% for disasmLine in match.getDisasmLines() %}
                                        {% if disasmLine.isPart %}
                                            <div class="mycodeline"><b>-> {{disasmLine.offset}}: {{disasmLine.textHtml|safe}}</b></div>
                                        {% else %}
                                            <div class="mycodeline">   {{disasmLine.offset}}: {{disasmLine.textHtml|safe}}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



