<h2>Info</h2>

<table class="table">
    <tr>
        <td>Name: </td>
        <td>{{outcome.fileInfo.name}}</td>
    </tr><tr>
        <td>Size: </td>
        <td>{{outcome.fileInfo.size}} bytes</td>
    </tr><tr>
        <td>Type: </td>
        <td>{{outcome.fileInfo.ident}}</td>
    </tr><tr>
        <td>MD5: </td>
        <td>{{outcome.fileInfo.hash|hex}}</td>
    </tr><tr>
        <td>Scan date: </td>
        <td>{{outcome.scanTime|mydate}}</td>
    </tr><tr>
        <td>Scanner Name: </td>
        <td>{{outcome.scannerName}}</td>
    </tr><tr>
        <td>Scanner Info: </td>
        <td>{{outcome.scannerInfo}}</td>
    </tr>

</table>

{% if outcome.isScanned and not outcome.isDetected %}
File is not detected by AV.
{% endif %}


{% if outcome.matches|length > 0 %}
<h2>Matches</h2>

<table class="table">
    <tr>
        <th>#</th>
        <th>Offset</th>
        <th>Size</th>
        <th>Section</th>
        <th>Conclusion</th>
    </tr>

    {% for match in outcome.matches %}
    <tr>
        <td>{{match.idx}}</td>
        <td>{{match.fileOffset}}</td>
        <td>{{match.size}}</td>
        <td>{{match.sectionInfo}}</td>

        {% if outcome.verification.matchConclusions.verifyStatus[loop.index0]|string == "VerifyStatus.BAD" %}
        <td style="background-color:red">
        {% elif outcome.verification.matchConclusions.verifyStatus[loop.index0]|string == "VerifyStatus.OK" %}
        <td style="background-color:orange"></td>
        {% elif outcome.verification.matchConclusions.verifyStatus[loop.index0]|string == "VerifyStatus.GOOD" %}
        <td style="background-color:green">
        {% else %}
        <td></td>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}


{% if outcome.fileStructure != '' %}

<h2>File Structure</h2>

<pre>{{outcome.fileStructure}}</pre>

{% endif %}