<!DOCTYPE html>
<html>
<head>
{% include 'includes/header.html' %}
</head>
<body>
    {% include 'includes/navigation.html' %}
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name <span>&uarr;</span</th>
            {% if session['showDetails'] %}
            <th>Type <span>&uarr;</span</th>
            {% endif %}
            <th>Scan Details</th>
            <th>Appraisal <span>&uarr;</span</th>
            {% if session['showDetails'] %}
            <th>Scanner <span>&uarr;</span</th>
            <th>Cnt <span>&uarr;</span</th>
            {% endif %}
        </tr>
        </thead>
        {% for outcome in outcomes %}
        <tr>
            <td>
                {% if examples %}
                <a href="/example/{{outcome.fileInfo.name}}">
                    {{outcome.fileInfo.name}}
                </a>
                {% else %}
                <a href="/file/{{outcome.fileInfo.name}}">
                    {{outcome.fileInfo.name}}
                </a>

                {% if current_user.is_authenticated and outcome.outflankPatches|length > 0 %}
                <a href="{{request.path}}/outflank">(Patched)</a>
                {% endif %}
                {% endif %}
            </td>
            {% if session['showDetails'] %}
            <td style="white-space:nowrap;">{{outcome.fileInfo.ident}}</td>
            {% endif %}
            <td>
                D: {{outcome.scanInfo.scanDuration}}s
                / C: {{outcome.scanInfo.chunksTested}}
                / M: {{outcome.scanInfo.matchesAdded}}
            </td>
            <td style="white-space:nowrap;">{{outcome.appraisal.value}}</td>
            {% if session['showDetails'] %}
            <td>{{outcome.scanInfo.scannerName}}</td>
            <td>{{outcome.matches|length}}</td>
            {% endif %}

            {% include 'includes/verifystatus.html' %}
        </tr>
        {% endfor %}
    </table>

    {% include 'includes/tablesorter.html' %}
</body>
</html>