<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
  </head>
  <body>
      {% include 'includes/navigation.html' %}

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" 
                  type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
        </li>

        
{% if outcome.matches|length > 0 %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="matches-tab" data-bs-toggle="tab" data-bs-target="#matches" 
                  type="button" role="tab" aria-controls="matches" aria-selected="false">Matches</button>
        </li>
{% endif %}
        
{% if outcome.matches|length > 0 %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="verifier-tab" data-bs-toggle="tab" data-bs-target="#verifier" 
                  type="button" role="tab" aria-controls="verifier" aria-selected="false">Verifier</button>
        </li>
{% endif %}

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log" 
                  type="button" role="tab" aria-controls="log" aria-selected="false">Log</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
          {% include 'file_info.html' %}
        </div>

        <div class="tab-pane fade" id="matches" role="tabpanel" aria-labelledby="matches-tab">
          {% include 'file_matches.html' %}
        </div>

        <div class="tab-pane fade" id="verifier" role="tabpanel" aria-labelledby="verifier-tab">
          {% if verifications|length > 0 %}
            {% include 'file_verifier.html' %}
          {% endif %}
        </div>

        <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">
          {% if logData != None %}
            {% include 'file_log.html' %}
          {% endif %}
        </div>

      </div>

  </body>
</html>
