<div class="row">
    <aside class="col-md-2">
        <ul class="nav nav-pills flex-column nav-fill" id="matchTab" role="tablist">
            <li class="nav-item active" role="presentation">
                <button class="nav-link " id="match-tab-all" data-bs-toggle="tab" data-bs-target="#match-all" 
                        type="button" role="tab" aria-controls="match-tab-all" aria-selected="true">
                            All
                </button>
            </li>

            {% for match in matches %}
                <li class="nav-item" role="presentation">
                <button class="nav-link " id="match-tab-{{match.idx}}" data-bs-toggle="tab" data-bs-target="#match-{{match.idx}}" 
                        type="button" role="tab" aria-controls="match-tab-{{match.idx}}" aria-selected="true">
                            {{match.idx}} @ {{match.fileOffset}}
                </button>
                </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="col-md-10">
        <div class="tab-content" id="matchTabContent">
            <div class="tab-pane fade show active " id="match-all" role="tabpanel" aria-labelledby="match-tab-all">
                {% for match in matches %}
                    <h2>Match: {{match.fileOffset}} ({{match.fileOffset}}) size: {{match.size}}</h2>
                    {{match.sectionInfo}}:
                    <pre>{{match.dataHexdump}}</pre>
                {% endfor %}
            </div>

            {% for match in matches %}
            <div class="tab-pane fade  " id="match-{{match.idx}}" role="tabpanel" aria-labelledby="match-tab-{{match.idx}}">
                <h2> Match #{{match.idx}}</h2>
                Offset: {{match.fileOffset}} <br>
                Size: {{match.size}} <br>
                Section: {{match.sectionInfo}} <br>
                <br>

                <h3> Disassembly </h3>

                <div class="mycode">
                    {% for disasmLine in match.getDisasmLines() %}
                        {% if disasmLine.isPart %}
                            <div class="mycodeline"><b>-> {{disasmLine.offset}}: {{disasmLine.textHtml|safe}}</b></div>
                        {% else %}
                            <div class="mycodeline">   {{disasmLine.offset}}: {{disasmLine.textHtml|safe}}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3> Hexdump </h3>
                <pre>{{match.dataHexdump}}</pre>

            </div>
            {% endfor %}
        </div>
    </div>
</div>



