
<table class="table">
    <thead>
        <tr>
            <td>Test #</td>
            <td>ModifyOrder</td>
            <td>ModifyPosition</td>

            {% for testEntry in verifications[0].testEntries %}
            <td>Match {{loop.index0}}</td>
            {% endfor %}

        </tr>
    </thead>

    {% for verificationRun in verifications %}
    <tr>
        <td>{{verificationRun.index}}</td>
        <td>{{verificationRun.info.name}}</td>
        <td>{{verificationRun.type.name}}</td>

        {% for testEntry in verificationRun.testEntries %}
            {% if testEntry %}
            <td style="background-color:red">
            {% else %}
            <td style="background-color:green">
            {% endif %}
                &nbsp;
            </td>
        {% endfor %}
    
    </tr>
    {% endfor %}

</table>

<h2>ModifyOrder:</h2>
<p>
    Result of detection. Red means detected, Green means not detected. 
</p>

<p>
    INCREMENTAL: Each match will be modified, starting from the first. 

</p>

<p>
    INDEPENDANT: Each match is modified by itself, without touching others. 
</p>

<h2>ModifyPosition</h2>
<p>
    FULL: Complete match will be modified
</p>

<p>
    MIDDLE: Only a few bytes in the middle will be modified
</p>