<div class="indent">

<h2>File {{outcome.fileInfo.name}}</h2>

<div class="container">
    <div class="row">
      <div class="col-sm">

        <table class="table">
            <tr>
                <td>Name: </td>
                <td>
                    {{outcome.fileInfo.name}}
                    {% if current_user.is_authenticated %}
                    <a href="{{request.path}}/download">(Download)</a>
                    {% endif %}
                </td>
            </tr><tr>
                <td>Size: </td>
                <td>{{outcome.fileInfo.size|prettynumber}} bytes</td>
            </tr><tr>
                <td>Type: </td>
                <td>{{outcome.fileInfo.ident}}</td>
            </tr><tr>
                <td>MD5: </td>
                <td>{{outcome.fileInfo.hash|hex}}</td>
            </tr><tr>
                <td>Scan date: </td>
                <td>{{outcome.scanInfo.scanTime|mydate}}</td>
            </tr>
        </table>
        
      </div>
      <div class="col-sm">
        <table class="table">
            <tr>
                <td>Scanner Name: </td>
                <td>{{outcome.scanInfo.scannerName}}

                    {% if outcome.isDetected and not outcome.isOutflanked %}
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                    {% endif %}
                </td>
            </tr><tr>
                <td>Appraisal: </td>
                <td>{{outcome.appraisal.value}} based</td>
            </tr><tr>
                <td>is Detected: </td>
                <td>{{outcome.isDetected}}</td>
            </tr><tr>
                <td>Scan Debug: </td>
                <td>{% if outcome.isDetected %}
                    Duration: {{outcome.scanInfo.scanDuration}}s
                    / Chunks: {{outcome.scanInfo.chunksTested}}
                    / Matches: {{outcome.scanInfo.matchesAdded}}
                    / {{outcome.scanInfo.scanSpeed}}
                    {% endif %}
                </td>
            </tr>
        
        </table>
      </div>
    </div>
  </div>

{% if outcome.isScanned and not outcome.isDetected %}
File is not detected by AV.
{% endif %}


{% if outcome.matches|length > 0 %}
<br>
<h2>Matches</h2>
<div class="container">
    <div class="row">
      <div class="col-sm">

<table class="table">
    <tr>
        <th>#</th>
        <th>Iteration</th>
        <th>Offset</th>
        <th>Size</th>
        <th>Section</th>
        <th>Detail</th>
        <th>SectionType</th>
        <th>Conclusion</th>
    </tr>
    {% for match in outcome.matches %}
    {% if session['showDetails'] or outcome.verification.matchConclusions.verifyStatus[loop.index0]|string != "VerifyStatus.IRRELEVANT" %}
    <tr>
        <td>{{match.idx}}</td>
        <td>{{match.iteration}}</td>
        <td>{{match.fileOffset}}</td>
        <td>{{match.size}}</td>
        <td>{{match.sectionInfo}}</td>
        <td>{{match.sectionDetail}}</td>
        <td>{{match.sectionType.name}}</td>

        {% with index = loop.index0 %}
        {% include 'includes/file_conclusion.html' %}
        {% endwith %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% if current_user.is_authenticated %}
<a href="{{request.path}}/downloadPatchMatch/">Download</a> with all matches overwritten</td>
<br>
{% endif %}
        </div>
    </div>
</div>
<br>
{% endif %}


{% if session['showDetails'] and outcome.sections|length > 0 %}
<h2>Sections</h2>

<div class="container">
    <div class="row">
      <div class="col-sm">

<table class="table">
    <tr>
        <th>Name</th>
        <th>Info</th>
        <th>Offset</th>
        <th>VirtAddr</th>
        <th>Size</th>
        <th>Scan</th>
        <th>Detected</th>
    </tr>

    {% for section in outcome.sections|sort %}
    <tr>
        <td>{{section.name}}</td>
        <td>
            {% if section.name in sectionInfo %}
                {{sectionInfo[section.name]["info"]}}

                <span data-bs-toggle="tooltip" data-bs-class="wider-tooltip" data-bs-html="true" data-bs-delay="300"
                    title="{{sectionInfo[section.name]['Purpose'] }}<br><br>{{sectionInfo[section.name]['Description'] }}"
                >
                    <i class="bi bi-info-circle"></i>
                </span>
            {% endif %}
        </td>
        <td>{{section.physaddr}}</td>
        <td>{{section.virtaddr}}</td>
        <td>{{section.size}}</td>
        <td>{{section.scan|nicebool}}</td>
        <td>{{section.detected|nicebool}}</td>
    </tr>
    {% endfor %}
</table>

        </div>
    </div>
</div>
{% endif %}


{% if session['showDetails'] and outcome.regions|length > 0 %}
<h2>Regions</h2>

<div class="container">
    <div class="row">
      <div class="col-sm">

<table class="table">
    <tr>
        <th>Name</th>
        <th>Offset</th>
        <th>VirtAddr</th>
        <th>Size</th>
        <th>Scan</th>
        <th>Detected</th>
    </tr>

    {% for section in outcome.regions|sort %}
    <tr>
        <td>{{section.name}}</td>
        <td>{{section.physaddr}}</td>
        <td>{{section.virtaddr}}</td>
        <td>{{section.size}}</td>
        <td>{{section.scan|nicebool}}</td>
        <td>{{section.detected|nicebool}}</td>
    </tr>
    {% endfor %}
</table>

        </div>
    </div>
</div>
{% endif %}


{% if outcome.outflankPatches|length > 0 %}
<h2>Patches</h2>
<table class="table">
    <tr>
        <th>Match ID</th>
        <th>Offset</th>
        <th>Info</th>
        <th>Patch</th>
        <th>Considereations</th>
    </tr>
    {% for patch in outcome.outflankPatches %}
    <tr>
        <td>{{patch.matchIdx}}</td>
        <td>{{patch.offset}}</td>
        <td>{{patch.info}}</td>
        <td>
<pre>{{patch.asmOne.offset|hexint}}: {{patch.asmOne.disasm}}
{{patch.asmTwo.offset|hexint}}: {{patch.asmTwo.disasm}}</pre>
        </td>
        <td>{{patch.considerations}}</td>
    </tr>
    {% endfor %}
</table>

{% if current_user.is_authenticated %}
<a href="{{request.path}}/outflank">Download</a> patched file (undetected)<br>
{% endif %}
<br>
{% endif %}

<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

</div>