
<table class="table">
    <thead>
        <tr>
            <td>Test #</td>
            <td>Info</td>
            <td>Type</td>

            {% for testEntry in verifications[0].testEntries %}
            <td>Match {{loop.index0}}</td>
            {% endfor %}

        </tr>
    </thead>

    {% for verificationRun in verifications %}
    <tr>
        <td>{{verificationRun.index}}</td>
        <td>{{verificationRun.info}}</td>
        <td>{{verificationRun.type}}</td>

        {% for testEntry in verificationRun.testEntries %}
        <td>
            {{testEntry}}
        </td>
        {% endfor %}
    
    </tr>
    {% endfor %}

</table>
