<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
  </head>
  <body>
    {% include 'includes/navigation.html' %}

    <h1> avred </h1>
    <p>antivirus reducer - AV signature identificator</p>

    <h2>about this</h2>

    <p>This will split the provided file until Windows Defender does not 
        detect it anymore. It will show which parts of the file is being detected. 
    </p>
    
    <p>Supported formats: 
      <ul>
        <li>.exe (PE or .NET)</li>
        <li>.docm</li>
        <li>.ps1</li>
      </ul>
    </p>

    <p>
      Links:
      <ul>
        <li><a href="/examples">Some examples to look at</a></li>
        <li><a href="/upload">Analyze your own file</a></li>
      </ul>
    </p>
    

  </body>
</html>