<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
  </head>
  <body>
    {% include 'includes/navigation.html' %}
    
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('views_auth.login') }}">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <input type="submit" value="Log In">
      </div>
    </form>
  </body>
</html>