<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
  </head>
  <body>
  {% include 'includes/navigation.html' %}


  <div class="indent">
  <h2>Upload</h2>

  Servers:
  <ul>
    {% for server in servers %}
      <li>{{server['name']}}: {{server['url']}}: {{server['status']}}</li>
    {% endfor %}
  </ul>

  Allowed extensions: 
  <ul>
    <li>
      {% for ext in extensions|sort %}
        .{{ext}}, 
      {% endfor %}
    </li>
  </ul>

  Scan time:
  <ul>
    <li>1/3 chance for about a minute</li>
    <li>1/3 chance for around 10 minutes</li>
    <li>1/3 chance that it may take an 1 hour </li>
  </ul>

  <p>
    All uploads will be stored. All requests are logged. 
    Defender sample submission is disabled.
    Use at your own risk. Do not misuse this service. 
    Maximum filesize 50MB.
  </p>
  <p>
    Bookmark the link of your file analysis to access it again. It is random, and not listed.
  </p>
  <br>

  <form method="POST" enctype="multipart/form-data" action="/upload">
  <div class="row row-cols-lg-auto g-3">
    <!--
    <div class="col">
          <select class="form-select" name="scanSpeed">
            <option value="1">Fast</option>
            <option value="2" selected>Normal</option>
            <option value="3">Slow</option>
      </select>
    </div>
    -->

      <div class="col">
        AV:
        <select class="form-select" name="server">
          {% for server in servers %}
              <option value="{{server['name']}}">{{server['name']}}</option>"
          {% endfor %}
        </select>
      </div>

      <div class="col">
          File to analyze:
          <input class="form-control" type="file" name="file">
      </div>

      <div class="col">
        <i>PDB (optional):</i>
        <input class="form-control" type="file" name="filePdb">
      </div>

      <div class="col">
        <br>
        <button class="btn btn-primary" type="submit" value="Upload">Upload</button>
      </div>

    </div>

  </form>

  </div>
</body>
</html>